@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Baloo+2:wght@400;700&display=swap');

.flavorfood-logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f4e8a6;
  text-shadow: 
    3px 3px 0px #64abf1, 
    -3px -3px 0px #64abf1, 
    3px -3px 0px #64abf1, 
    -3px 3px 0px #64abf1, 
    6px 6px 10px rgba(149, 190, 230, 0.3); 
}
