@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
    nav,
    footer,
    .comments-section,
    .no-print {
      display: none !important;
    }
    body {
      margin: 0;
    }
  }
  
  @media print {
    .no-print {
      display: none !important;
    }
  
    body {
      background: white !important;
      color: black !important;
      margin: 0;
    }
    #recipe-detail-content {
      page-break-inside: avoid;
    }
  }
  